<% provide(:title, "About") %>
<div class="center">
  <div class="wrapper">
    <%= link_to image_tag("kboy.jpg", alt: "KBOY"), 'https://twitter.com/FernandezKboy' %>
  </div>
</div>

<br>

<div class="center">
  <div class="wrapper">
    <%= link_to image_tag("operationcode800.png", alt: "KBOY"), 'https://operationcode.org/' %>
  </div>
</div>

<br>

<div class="center">
  <%= link_to image_tag("opcode.png", alt: "KBOY"), 'https://operationcode.org/' %>  <h2><a href="https://about.me/k-boy">Kirby's</a> brief introduction.</h2>
  <h3>I am part of <a href="https://operationcode.org/">Operation Code</a> founded by an ex-Army Captain.</h3>
  <h3>I usually hangout on <a href="https://github.com/kboygit">Github</a> and <a href="https://slack.com/">Operation Code Slack</a>.</h3>
<iframe src="//giphy.com/embed/asGdT7GTpANb2" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/please-construction-patient-asGdT7GTpANb2"></a></p>
</div>
