<% provide(:title, "About") %>
<div class="center">
    <h1>About</h1>
</div>
<div class="center jumbotron">
  <p>
    This <a href="https://about.me/k-boy"> <em>link</em></a> is about me.
  </p>
</div>
