<% provide(:title, "About") %>
<div class="center">
    <h1>About</h1>
</div>
<div class="center jumbotron">
  <p>This <a href="https://about.me/k-boy"> <em>link</em></a> is about me.</p>
    <iframe src="//giphy.com/embed/asGdT7GTpANb2" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/please-construction-patient-asGdT7GTpANb2"></a></p>
</div>
