<% provide(:title, "Help") %>
    <h1>Help</h1>
    <p>Get help from me at the <a href="https://about.me/k-boy">introduction page.</a></p>
    <p>To get help on this app, see the <a href="https://www.railstutorial.org/book/static_pages">book.</a></p>
