<% provide(:title, "Help") %>
<div class="center">
  <div class="wrapper">
    <%= link_to image_tag("kboy.jpg", alt: "KBOY"), 'https://twitter.com/FernandezKboy' %>
  </div>
</div>

<br>

<div class="center">
  <p>
    <p> Need <a href="https://about.me/k-boy">help</a>,you can drop a message through <a href="https://about.me/k-boy">here</a>?</p>
  </p>
  <iframe src="//giphy.com/embed/asGdT7GTpANb2" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/please-construction-patient-asGdT7GTpANb2"></a></p>
</div>
