<!-- <% provide(:title, "Home") %> -->
<center>
  <h1>Home</h1>
  <p>This is the home page for <a href="https://about.me/k-boy">Kirby's</a> brief introduction.</p>
  <p>page is under construction...</p>
</center>
