<!-- <% provide(:title, "Home") %> -->
<div class="center">
  <div class="wrapper">
    <%= image_tag("kboy.jpg", alt: "KBOY") %>
  </div>
</div>
<br>
<div class="center jumbotron">
  <h2>This is the home page for <a href="https://about.me/k-boy">Kirby's</a> brief introduction.</h2>
  <p>page is under construction...</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center">
<%= link_to image_tag("tatami.png", alt: "KBOY"),
            'http://rapollorap.herokuapp.com/' %>
<!-- <%= link_to image_tag("", alt: "KBOY"),
            'http://rapollorap.herokuapp.com/' %> -->

</div>
