<footer class="footer">
  <small>
      <!-- <a href="https://about.me/k-boy"> About me</a> -->
    <a href="https://about.me/k-boy">KBOY</a>
    &copy; 2016
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://about.me/k-boy">News</a></li>
    </ul>
  </nav>
</footer>
